#inchargeUI 
{
    display: none;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1000;
}

.incharge-title 
{
    border-radius: 5px;

    padding: 5px;
    color: white;

    width: 80px;
    margin-left: auto;

    font-weight: bold;
    text-align: center;

    box-shadow: 0px 2px 5px rgba(0,0,0,0.07);

    background: #ff3366;
}

.incharge-title-margin-bottom 
{
    height: 5px;
}

#inchargeDropdown 
{
    display: flex;
    display: none;
    padding: 5px;
    flex-direction: column;

    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.07);
    text-align: center;
    
    background: white;
}

#inchargeDropdown > button
{
    margin: 5px 0px;
}

.incharge-title:hover ~ #inchargeDropdown, 
.incharge-title-margin-bottom:hover  ~ #inchargeDropdown, 
#inchargeDropdown:hover 
{
    display: flex;
}

.incharge-button 
{
    display: none;
}

/* Put the button on left on some pages */

.build-mode #inchargeUI 
{
    right: auto;
    left: 10px;
}
.build-mode .incharge-title  
{
    margin-left: 0;
    margin-right: auto;
}

/* where to display the buttons */
.page_project .incharge-display-project,
.build-mode .incharge-display-build
{
    display: block;
}

/* where to display the dropdown */
.page_project #inchargeUI,
.build-mode #inchargeUI 
{
    display: block;
} 

/* No ellipses */
#build .fancy-dropdown h2,
.project .screen .project-info .filename
{
    text-overflow: initial;
    white-space: unset;
    word-wrap: break-word;
}

#bottom_bar .project-navigation a 
{
    text-overflow: initial;
    word-wrap: normal;
}

/* Always on file name */
.project .screen.grid .project-info .filename 
{
    display: block !important;
    margin-top: 5px;
}

/* Always on updated date */
.updated-at 
{
    display: block !important;
}

/* Bigger screen details */
.project .screen.grid .project-info 
{
    height: 150px;
}

/* Wider divider label input */
.dividerLabelInput 
{
    width: 900px !important;
}